body {
    background-color: #1F2937;
    margin: 100px auto;
     width: 50%;
}
      .btn{
     width : 200px;
     line-height:35px;
     background: #10B981;
     border-radius: 4px;
     border : none;
     color: #FFFFFF;
     margin: 20px
     
 }
 .heading--one{
     color: #FFFFFF;
     margin-bottom: 0
 }
 .heading--two{
     color: #4ADF86;
     margin-top: 0;
     margin-bottom : 0
 }
 
 p{
     color: #D5D4D8;
     margin-top: 0;   
 }
 .buttons--two{
     width: 200px;
     margin: 10px;
     background-color: #273549;
     padding: 18px;
     border: none;
     border-radius: 4px;
     color:#FFFFFF;   
 }
 .buttons{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }